// Variables
$headerFooter: rgba(21, 102, 224, 0.699);
$blue: rgba(21, 102, 224);
$green: rgb(7, 124, 42);
$red: rgb(201, 27, 27);
$h2Color: $red;
$white: aliceblue;
$contact: rgb(190, 40, 157);
$social: rgba(24, 153, 63, 0.8);


body {
    background-image: url('../img/univers.jpg');
    // background-color: black;
    background-repeat: repeat-y;
    background-size: auto 200%;
    // background-repeat: no-repeat;
}

header, footer {
    background-color: $headerFooter;
    z-index: 45;
    width: 100%;
}


#rw {
    z-index: 46;
    height: 50%;
}


.nav-link {
    color: $white !important;
}

.navbar-toggler-icon {
    background-image: url("data:image/svg+xml,%3csvg xmlns='http://www.w3.org/2000/svg' width='30' height='30' viewBox='0 0 30 30'%3e%3cpath stroke='aliceblue' stroke-linecap='round' stroke-miterlimit='10' stroke-width='2' d='M4 7h22M4 15h22M4 23h22'/%3e%3c/svg%3e");
}

#intro {
    position: relative;
    top: 15%;
    max-width: 70%;
    left: 15%;
    /* color: #000; */
    background-color: rgba($white, 0.5);
}

h1 {
    color: red;
    font-weight: bold;
}

h2 {
    color: $green;
}

#remi {
    width: 150px;
    border-radius: 25%;
}


footer {
    display: none;
    position: fixed;
    bottom: 0 !important;
    color: $white;
}

a {
    text-decoration: none !important;
}

.logo {
    background-color: $white;
}

#mail {
    width: 80px;
    margin:-8px;
}

/* Competences */

#competences {
    position: relative;
    top: 15% !important;
}

#nav-tab {
    button {
        color: $blue!important;
    }
    & > .nav-link.active {
        background-color: rgba($white, 0.8);
    }
}

#ligne {
    width: 100%;
    border-top: 1px solid $blue;
}

#presentation {
    background-color: rgba(226, 151, 11, .8);
    height: 5%;
    a#contact {
        background-color: $contact; 
    }
    a#pdf {
        background-color: $red;
    }
    h2 {
        color: $h2Color;
    }
    a, button {
        color: $white;
    }
}

#divers {
    background-color: rgb(155, 154, 154, 0.8);
    margin-top: 1rem;
    h2 {
        color: $h2Color;
    }
}

#liste {
    text-align: left !important;
    list-style-type: circle;
}

#reseau {
    margin-top: 1rem;
    background-color: $social;
    h2 {
        color: $h2Color;
    }
}

#technosDev {
    background-color: rgba($white, 0.8);
    img {
        width: 70%;
        height: auto;
    }
    figcaption {
        color: $green !important;
    }
}

// Ecran ordinateur
@media all and (min-width: 1024px) {
    header {
        max-width: 50%;
        left: 25%;
        top: 4px;
        border-radius: 5px;
    }

    #intro {
        left: 0;
        max-width: 100%;
        margin: 0 20%;
        top: 25%
    }

    footer {
        max-width: 50%;
        width: 25%;
        left: 40%;
        background-color: initial;
    }

    #divers {
        margin-top: 0;
        margin-left: 1rem;
        width: 35% !important;
    }

    #liste {
        padding-top: 5%;
        // padding-left: 2%;
    }
}